# DJ CAAT Official Platform & Analytics Environment
NEXT_PUBLIC_SITE_URL=https://djcaat.com

# Supabase Production Database (DjCaat)
NEXT_PUBLIC_SUPABASE_URL=https://bbkxyxbbegpcvfiarlmg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJia3h5eGJiZWdwY3ZmaWFybG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NjMxODgsImV4cCI6MjEwNDQzOTE4OH0.JaB9kD3ikSAxHUk2Eq7D8x51eHwEUXUpnM6a4GBfmjw

# Supabase Secret Service Role Key (Backend-only)
SUPABASE_SERVICE_ROLE_KEY=
